<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491842717681-mh62q1sb5e1e3t21b36bj1tho25llka1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491842717681-mh62q1sb5e1e3t21b36bj1tho25llka1</string>
	<key>API_KEY</key>
	<string>AIzaSyBevceB-fH3xbWq9cxrKbovrG5sUJcPhkU</string>
	<key>GCM_SENDER_ID</key>
	<string>491842717681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sapmusic.app</string>
	<key>PROJECT_ID</key>
	<string>sap-music</string>
	<key>STORAGE_BUCKET</key>
	<string>sap-music.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491842717681:ios:6ecb3c2ab723e0cc292650</string>
</dict>
</plist>